html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #1a163f;
    color: rgb(255, 255, 255);
    margin: 0 10px 10px 10px;
}

.indent {
    /* background-color: #ffffff; */
    background: linear-gradient(90deg, #e4a9ff9f 0, #ffffff 50%, #e4a9ff9f);
    display: flex;
    height: 50px;
    border: 2px solid rgb(132, 0, 255);
    border-radius: 8px;
    border-left: none;
    border-right: none;

    width: 80vw;
    max-width: 600px;
}

.hover {
    margin: auto;
    text-align: center;
    font-size: clamp(20px, 6vw, 24px);
    font-weight: bold;
    font-style: italic;
}

.hover a {
    text-decoration: none;
    padding: 0 clamp(0px, 2vw, 20px) 0 clamp(0px, 2vw, 20px);
    border-radius: 6px;
    transition: all 0.3s ease;
}

.hover span {
    font-style: normal;
    font-weight: 300;
    color: rgb(128, 128, 128);
}

.hover a:hover {
    background-color: rgba(255, 179, 16, 0.35);
    color: #ff0000;
}

.background {
    display: flex;
    flex-direction: column;
    background:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
        url(../photo/bg_img.png) no-repeat center center;
    background-size: cover;
    color: white;
    min-height: 500px;
    padding: 10px 20px;
    border-radius: 0 0 8px 8px;
    margin: 0;

    align-items: center;
}

.format {
    display: block;
    background-color: rgba(51, 51, 51, 0.589);

    margin-top: 80px;
    border: 2px solid rgb(132, 0, 255);
    border-radius: 8px;
    border-top: none;
    border-bottom: none;
    justify-content: center;
    align-items: center;
    padding-top: clamp(6px, 3vw, 16px);
    padding-left: clamp(6px, 6vw, 50px);
    padding-right: clamp(6px, 6vw, 50px);

    width: 80vw;
    height: 300px;
    max-width: 600px;
}

.entry_text {
    font-size: 36px;
}

.description {
    font-size: 14px;
}

.entry_button {
    margin-top: clamp(30px, 10vw, 60px);
}

.entry_button a {
    display: inline-block;
    background-color: #555;
    color: #fff;
    border: 2px solid #9b9b9b;
    border-radius: 999px;
    font-size: clamp(16px, 4vw, 22px);
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
    padding: 0.75em 2.5em;
    transition: all 0.2s ease;
}

.entry_button a:hover {
    background-color: #7e7e7e;
    transform: translateY(-2px);
}

.bottom {
    position: relative;
    margin-top: 10px;
    width: auto;
    height: 132px;
    background-color: #1a163f;
    border: 68px ridge rgba(97, 82, 185, 0.5);
    border-radius: 8px;
}